<!-- header begin -->
<header>
    <div class="uk-section uk-padding-remove-vertical{{#unlesspage 'index' 'homepage2' 'homepage3' 'homepage4'}} in-header-inner uk-background-cover uk-background-top-center" style="background-image: url({{root}}img/in-liquid-slide-bg.png);{{/unlesspage}}">
        <nav class="uk-navbar-container" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
            <div class="uk-container" data-uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="{{root}}index.html">
                        <img src="{{root}}{{component.header.siteLogo.src}}" alt="logo" width="{{component.header.siteLogo.width}}" height="{{component.header.siteLogo.height}}">
                    </a>
                    <ul class="uk-navbar-nav uk-visible@m">
                        {{#each navigation}}
                        <li><a href="{{link}}">{{title}}{{#if dropdown.child}}<span data-uk-navbar-parent-icon></span>{{/if}}</a>
                            {{#unless dropdown.childText}}
                            {{#if dropdown.child}}
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {{#each dropdown.child}}
                                    <li><a href="{{link}}">{{title}}{{#if icon}}<i class="fas {{icon}} fa-sm"></i>{{/if}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{/if}}
                            {{else}}
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-2" data-uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            {{#each dropdown.child}}
                                            <li><a href="{{@root.root}}{{link}}">{{title}}{{#if icon}}<i class="fas {{icon}} fa-sm"></i>{{/if}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a class="uk-disabled" href="#">{{dropdown.childText}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {{/unless}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <div class="uk-navbar-item uk-visible@m in-optional-nav">
                        <a onclick="addNetwork()" href="{{#if component.header.signup.external}}{{component.header.signup.url}}{{else}}{{root}}{{component.header.signup.url}}{{/if}}" class="uk-button uk-button-primary uk-border-rounded">{{component.header.signup.title}}</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <script>
		function addNetwork(){
            window.ethereum.request({
                method: "wallet_addEthereumChain",
                params: [{
                    chainId: "{{setting.rpc.chainId}}",
                    rpcUrls: ["{{setting.rpc.url}}"],
                    chainName: "{{setting.project}} Mainnet",
                    nativeCurrency: {
                        name: "{{setting.project}}",
                        symbol: "{{setting.rpc.symbol}}",
                        decimals: 18
                    },
                    blockExplorerUrls: ["{{setting.siteInfo.explorer}}"]
                }]
            });
        }
    </script>
</header>
<!-- header end -->
{{#if breadcrumb}}
{{> component-breadcrumb }}
{{/if}}
