<!-- section content begin -->
<div class="uk-section in-liquid-2">
    <div class="uk-container">
        <div class="uk-grid-large uk-child-width-1-2@m" data-uk-grid>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-1.svg" alt="sample-icon" width="128" height="128" data-uk-img>
                </div>
                <div>
                    <h3>Experienced Community</h3>
                    <p>Join the Hypra blockchain community on Discord to stay up-to-date with the latest developments in the world of Hypra and connect with like-minded individuals.</p>
                    <a class="uk-button uk-button-text" href="https://discord.gg/rethereum-1131328579947462676" target="_blank">Join Discord<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-2.svg" alt="sample-icon" width="128" height="128" data-uk-img>
                </div>
                <div>
                    <h3>Fully Decentralized</h3>
                    <p>The network is powered by Proof-of-work and always will be, keeping the network safe from censorship and regulation.</p>
                </div>
            </div>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-3.svg" alt="sample-icon" width="128" height="128" data-uk-img>
                </div>
                <div>
                    <h3>Financial Freedom</h3>
                    <p>An EVM blockchain is a decentralized, immutable, and transparent financial system that empowers individuals to transact without intermediaries, promoting financial freedom and inclusion.</p>
                </div>
            </div>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-4.svg" alt="sample-icon" width="128" height="128" data-uk-img>
                </div>
                <div>
                    <h3>Integrated EVM</h3>
                    <p>An EVM comes built in, allowing anyone to develop, deploy and mint. Launch dApps, Tokens, complex applicaitons.</p>
                    <a class="uk-button uk-button-text" href="#">Learn more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-5-6@m uk-margin-medium-top">
                <div class="uk-card uk-card-default uk-card-body uk-background-contain uk-background-top-left" style="background-image: url({{root}}img/in-liquid-card-bg.png);" data-uk-img>
                    <div class="uk-grid uk-child-width-1-3@s uk-child-width-1-3@m uk-text-center" data-uk-grid>
                        <div class="uk-width-1-1">
                            <h4><span>Simple steps to get started.</span></h4>
                        </div>
                        <div>
                            <span class="in-icon-wrap circle uk-margin-auto">1</span>
                            <p>Download a web3 wallet</p>
                        </div>
                        <div>
                            <span class="in-icon-wrap circle uk-margin-auto">2</span>
                            <p>Add the network</p>
                        </div>
                        <div>
                            <span class="in-icon-wrap circle uk-margin-auto">3</span>
                            <p>Fund your account</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->