<!-- section content begin -->
<div class="uk-section in-gallery-2">
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-1-1" data-uk-filter="target: .bk-filter">
                <ul class="uk-subnav uk-subnav-divider uk-flex uk-flex-center">
                    <li class="uk-active" data-uk-filter-control><a href="#">All</a></li>
                    <li data-uk-filter-control="[data-color='photography']"><a href="#">Photography</a></li>
                    <li data-uk-filter-control="[data-color='branding']"><a href="#">Branding</a></li>
                    <li data-uk-filter-control="[data-color='development']"><a href="#">Development</a></li>
                </ul>
                <ul class="bk-filter uk-child-width-1-3@m uk-child-width-1-2@s uk-text-center uk-margin-large-top" data-uk-grid>
                    <li data-color="photography">
                        <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                            <a href="#">
                                <img src="{{root}}img/blockit/in-gallery-image-7.jpg" alt="gallery-image" data-width data-height>
                                <div class="uk-transition-fade uk-position-top-right uk-overlay uk-overlay-primary">
                                    <i class="fas fa-expand-alt"></i>
                                </div>
                            </a>
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Sankt Christina</h4>
                        <p class="uk-margin-remove uk-text-muted">Photography</p>
                    </li>
                    <li data-color="development">
                        <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                            <a href="#">
                                <img src="{{root}}img/blockit/in-gallery-image-12.jpg" alt="gallery-image" data-width data-height>
                                <div class="uk-transition-fade uk-position-top-right uk-overlay uk-overlay-primary">
                                    <i class="fas fa-expand-alt"></i>
                                </div>
                            </a>
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Project Nine</h4>
                        <p class="uk-margin-remove uk-text-muted">Development</p>
                    </li>
                    <li data-color="branding">
                        <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                            <a href="#">
                                <img src="{{root}}img/blockit/in-gallery-image-8.jpg" alt="gallery-image" data-width data-height>
                                <div class="uk-transition-fade uk-position-top-right uk-overlay uk-overlay-primary">
                                    <i class="fas fa-expand-alt"></i>
                                </div>
                            </a>
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Beats Cafe</h4>
                        <p class="uk-margin-remove uk-text-muted">Branding</p>
                    </li>
                    <li data-color="branding">
                        <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                            <a href="#">
                                <img src="{{root}}img/blockit/in-gallery-image-10.jpg" alt="gallery-image" data-width data-height>
                                <div class="uk-transition-fade uk-position-top-right uk-overlay uk-overlay-primary">
                                    <i class="fas fa-expand-alt"></i>
                                </div>
                            </a>
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Limoncello</h4>
                        <p class="uk-margin-remove uk-text-muted">Branding</p>
                    </li>
                    <li data-color="development">
                        <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                            <a href="#">
                                <img src="{{root}}img/blockit/in-gallery-image-11.jpg" alt="gallery-image" data-width data-height>
                                <div class="uk-transition-fade uk-position-top-right uk-overlay uk-overlay-primary">
                                    <i class="fas fa-expand-alt"></i>
                                </div>
                            </a>
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Earthquake App</h4>
                        <p class="uk-margin-remove uk-text-muted">Development</p>
                    </li>
                    <li data-color="photography">
                        <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                            <a href="#">
                                <img src="{{root}}img/blockit/in-gallery-image-9.jpg" alt="gallery-image" data-width data-height>
                                <div class="uk-transition-fade uk-position-top-right uk-overlay uk-overlay-primary">
                                    <i class="fas fa-expand-alt"></i>
                                </div>
                            </a>
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Modern Building</h4>
                        <p class="uk-margin-remove uk-text-muted">Photography</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->