<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m uk-text-center">
                <h1>Our team</h1>
                <div class="uk-grid uk-child-width-1-4@m uk-margin-large-top" data-uk-grid>
                    <div>
                        <div>
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-1.png" alt="image-team" width="140" height="140">
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Cynthia Dixon</h4>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-small-top">Chief Executive Officer</p>
                    </div>
                    <div>
                        <div>
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-2.png" alt="image-team" width="140" height="140">
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Arthur Parker</h4>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-small-top">Executive Assistant</p>
                    </div>
                    <div>
                        <div>
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-3.png" alt="image-team" width="140" height="140">
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Evelyn Mason</h4>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-small-top">Marketing Specialist</p>
                    </div>
                    <div>
                        <div>
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-4.png" alt="image-team" width="140" height="140">
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Bryan Greene</h4>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-small-top">Human Resources</p>
                    </div>
                    <div>
                        <div>
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-5.png" alt="image-team" width="140" height="140">
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Jeffrey Reyes</h4>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-small-top">Office Manager</p>
                    </div>
                    <div>
                        <div>
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-6.png" alt="image-team" width="140" height="140">
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Peter Jacobs</h4>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-small-top">Account Executive</p>
                    </div>
                    <div>
                        <div>
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-7.png" alt="image-team" width="140" height="140">
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Scott Baker</h4>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-small-top">Customer Support</p>
                    </div>
                    <div>
                        <div>
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-8.png" alt="image-team" width="140" height="140">
                        </div>
                        <h4 class="uk-margin-top uk-margin-remove-bottom">Timothy Watkins</h4>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-small-top">Operations Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->