<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center blog-article">
            {{#if blog.image}}
            <div class="col-12">
                <img class="img-fluid mb-md-0 mb-lg-n5" src="{{root}}{{blog.image}}" alt="{{blog.title}}">
            </div>
            {{/if}}
            <div class="col-md-12 col-lg-9">
                <article class="card blog-card">
                    <div class="card-body p-3 py-md-4 px-md-5">
                        <div class="blog-author d-flex align-items-center">
                            {{#if setting.blog.displayAuthor}}
                            <img class="rounded-circle me-1" src="{{root}}{{blog.author.avatar}}" alt="author" width="32" height="32">
                            <small class="text-muted">
                                {{blog.author.name}}<span class="mx-1">•</span>
                            </small>
                            {{/if}}
                            <small class="text-muted">
                                {{blog.dateCreated}}
                            </small>
                        </div>
                        <h2 class="fw-bold mt-3 mb-4">{{blog.title}}</h2>
                        {{#each blog.blocks}}
                        {{> component-editor }}
                        {{/each}}
                    </div>
                    {{#ifand setting.blog.displayTag setting.blog.displayShareButtons}}
                    <div class="card-footer blog-footer px-3 px-md-4 py-2">
                        {{#if setting.blog.displayTag}}
                        <div class="article-tags d-flex align-items-center text-muted float-start">
                            <i class="fas fa-tags text-dark me-1"></i><span class="fw-bold text-dark">Tags: &nbsp;</span>
                            {{#each blog.tags}}
                            <a href="{{@root.root}}blog-find.html?tag={{this}}" class="text-muted text-decoration-none">{{this}}</a>{{#unless @last}},&nbsp;{{/unless}}
                            {{/each}}
                        </div>
                        {{/if}}
                        {{#if setting.blog.displayShareButtons}}
                        <div class="share-btn float-start float-md-end mt-1 mt-md-0">
                            <a class="badge bg-facebook" data-id="fb"><i class="fab fa-facebook-f"></i></a>
                            <a class="badge bg-twitter" data-id="tw"><i class="fab fa-twitter"></i></a>
                            <a class="badge bg-pinterest" data-id="pi"><i class="fab fa-pinterest-p"></i></a>
                            <a class="badge bg-email" data-id="mail"><i class="fas fa-envelope"></i></a>
                        </div>
                        {{/if}}
                    </div>
                    {{/ifand}}
                </article>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->